.candyPage__toolsMenu {
    position: absolute;
    left: 50%;
    top: 110%;
    background-color: var(--background);
    width: 250px;
    height: 40px;
    border-bottom: 1px solid var(--color);
    display: flex;
    gap: 5px;
    transform: translateX(-50%);
    z-index: 10;
}